.curriculumBody p {
  @apply font-mulish text-center text-lg sm:text-xl mt-0 mb-0;
}

.curriculumBody h2 {
  @apply font-mulish font-extrabold text-3xl sm:text-5xl mb-4 mx-16 sm:mx-0;
}

.curriculumBody h3 {
  color: var(--color-dark1);
  @apply font-mulish font-extrabold leading-tight mb-2 text-2xl sm:text-3xl;
}

.curriculumBody h4 {
  @apply text-xl;
}

.curriculumBody :global(.two-column-section) :global(.primary) {
  @apply my-6 mx-auto sm:ml-0 w-56;
}

.curriculumBody :global(.secondary) {
  @apply mt-6;
  width: 395px;
}

.curriculumBody :global(.two-column-section) :global(.left-column) {
  @apply sm:translate-x-10;
}

.curriculumBody :global(.two-column-section) :global(.right-column) {
  @apply sm:-translate-x-10;
}

.curriculumBody :global(.sectionGetYourLeaderGuide) :global(.left-column){
  @apply translate-x-0 sm:mr-6 order-1;
}

.curriculumBody :global(.sectionGetYourLeaderGuide) :global(.right-column){
  @apply -translate-x-0 sm:ml-6 order-2;
}

.curriculumBody :global(.sectionGetYourLeaderGuide) :global(.primary) {
  @apply w-full sm:w-56;
}

.curriculumBody :global(.sectionGetYourLeaderGuide) h2 {
  @apply sm:text-left mb-4;
}

.curriculumBody :global(.sectionGetYourLeaderGuide) h4 {
  @apply sm:text-left mb-4;
}

.curriculumBody :global(.sectionGetYourLeaderGuide) p {
  @apply sm:text-left mb-6;
}

.curriculumBody :global(.sectionGetYourLeaderGuide) p:nth-of-type(4) {
  @apply mt-10 mb-4;
}

.curriculumBody :global(.sectionGetYourLeaderGuide) :global(.tertiary) {
  @apply w-full sm:w-52;
}

.curriculumBody :global(.sectionGetYourLeaderGuide) :global(.tertiary):nth-of-type(2){
  @apply sm:float-left sm:mr-4;
}

.curriculumBody :global(.sectionGetYourLeaderGuide) :global(.tertiary):nth-of-type(3){
  @apply sm:float-left;
}
